mat-card {
    button {
        color: white;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    #delete-warning {
        margin-bottom: 24px;

        .mat-body-2 {
            text-align: center;
        }
    }

    .mat-h3 {
        text-align: center;
        font-weight: bold;
    }
}
