<div class="skill-toolbar" fxLayout="row">
    <div fxFlex="80" (keydown.enter)="onClick()">
        <mat-form-field class="search-field">
            <input matInput placeholder="Search" type="text" [(ngModel)]="searchTerm">
        </mat-form-field>
        <button mat-icon-button>
            <fa-icon [icon]="searchIcon" (click)="onClick()"></fa-icon>
        </button>
    </div>

    <!-- commenting out the language picker until such time as there are -->
    <!-- languages to pick -->

    <!--<mat-form-field class="language-field" fxFlex="20">-->
        <!--<mat-select placeholder="Language" [(ngModel)]="selectedLanguage">-->
            <!--<mat-option *ngFor="let language of languages" [value]="language.value">-->
                <!--{{language.display}}-->
            <!--</mat-option>-->
        <!--</mat-select>-->
    <!--</mat-form-field>-->

</div>
