[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
selene = {path = "./../../shared"}

[packages]
flask = "*"
flask-restful = "*"
requests = "*"
SpeechRecognition = "*"

[requires]
python_version = "3.7"
