[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
behave = "*"
pyhamcrest = "*"

[packages]
flask = "<1.1"
requests = "*"
selene = {editable = true,path = "./../../shared"}
SpeechRecognition = "*"
uwsgi = "*"
stripe = "*"

[requires]
python_version = "3.7"
