[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
behave = "*"
pyhamcrest = "*"
allure-behave = "*"
pylint = "*"

[packages]
flask = "<1.1"
# version 2.1 of itsdangerous breaks a dependency on flask 1.0.
itsdangerous = "<2.1"
requests = "*"
selene = {editable = true,path = "./../../shared"}
SpeechRecognition = "*"
uwsgi = "*"
stripe = "*"

[requires]
python_version = "3.7"
