.mat-h3 {
    margin-bottom: 10px;
}

mat-button-toggle-group {
    border: none;
    padding: 16px;

    mat-button-toggle {
        margin: 8px;
    }
}

#subscription-date {
    margin-bottom: 16px;
}
