<mat-card class="section-card">
    <mat-toolbar class="section-card-title-bar">
        <div class="section-card-title">Support Mycroft</div>
    </mat-toolbar>
    <div fxLayout="column" fxLayoutAlign="center center">
        <mat-button-toggle-group [vertical]="alignVertical">
            <ng-container *ngFor="let subscription of subscriptionTypes">
                <mat-button-toggle style="padding: 8px">
                    <div class="mat-h3">{{subscription.name}}</div>
                    <div class="mat-body">{{subscription.price}}</div>
                </mat-button-toggle>
            </ng-container>
        </mat-button-toggle-group>
        <div id="subscription-date" class="mat-body">Member Since {{subscriptionDate}}</div>
    </div>
</mat-card>

