<div mat-dialog-title class="mat-h2-primary">Group</div>

<div mat-dialog-content>
    <mat-radio-group fxLayout="column" [(ngModel)]="selectedGroup.name">
        <ng-container *ngFor="let group of deviceGroups">

            <!-- Radio buttons for pre-defined groups -->
            <mat-radio-button *ngIf="!group.userDefined" class="predefined-group" [value]="group.name">
                {{group.name}}
            </mat-radio-button>

            <!-- Radio buttons for user-defined groups -->
            <div *ngIf="group.userDefined" fxLayout="row" fxLayoutAlign="space-between center">
                <mat-radio-button [value]="group.name">
                    <mat-form-field [floatLabel]="'never'">
                        <input matInput value="{{group.name}}">
                    </mat-form-field>
                </mat-radio-button>
                <button mat-icon-button [disableRipple]="true">
                    <fa-icon class="danger-icon" [icon]="deleteIcon"></fa-icon>
                </button>
            </div>

        </ng-container>

        <!-- Radio button to add a new user-defined group -->
        <mat-radio-button>
            <mat-form-field [floatLabel]="'never'">
                <input matInput placeholder="Add Custom Placement">
            </mat-form-field>
        </mat-radio-button>
    </mat-radio-group>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()" class="cancel-button">CANCEL</button>
    <button mat-button [mat-dialog-close]="selectedGroup" class="action-button">SAVE</button>
</div>
