@import "mycroft-colors";

/* Split the screen in half */
.split {
    height: 50%;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    position: fixed;
    width: 100%;
    z-index: -1;
}

/* Top Half */
.top {
    top: 0;
    background-color: $mycroft-primary;
}

/* Bottom Half */
.bottom {
    bottom: 0;
    background-color: #e5e5e5;
}


mat-tab-group {
    height: 485px;
    width: 320px;
}

.login-options {
    background-color: $mycroft-white;
    border-radius: 10px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    width: 320px;
}

img {
    margin-bottom: 50px;
    margin-top: 50px;
    width: 600px;
}
