@import '../../../../stylesheets/global.scss';

mat-card-header {
    justify-content: center;
    margin-bottom: 15px;
    .mycroft-icon {
        left: 18px;
        position: absolute;
        top: 18px;
        img {
            height: 20px;
            width: 20px;
        }
    }
    .skill-icon {
        //offset the skill icon by the width of the
        // mycroft icon to center it on card
        margin-left: -20px;
        fa-icon {
            font-size: 28px;
        }
    }
}
