[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "<1.1"
requests = "*"
pyjwt = "*"
uwsgi = "*"
markdown = "*"
selene = {editable = true, path = "./../../shared"}

[dev-packages]

[requires]
python_version = "3.7"
