// These are the official Mycroft colors as defined by the design team.
$mycroft-primary: #22a7f0;
$mycroft-secondary: #2c3e50;
$mycroft-tertiary-blue: #96defe;
$mycroft-tertiary-green: #40dbb0;
$mycroft-tertiary-yellow: #fee255;
$mycroft-tertiary-grey: #5b6984;
$mycroft-tertiary-orange: #fd9e66;
$mycroft-white: #ffffff;
$mycroft-black: #111111;
$mycroft-dark-grey: #6c7a89;
$mycroft-light-grey: #bdc3c7;
$mycroft-blue-grey: #e4f1fe;
$market-background: #f1f3f4;
