@import 'mycroft-colors';

@mixin login-button {
    border-radius: 4px;
    color: $mycroft-white;
    font-weight: normal;
    text-align: left;
    width: 280px;
}

#social {
    padding: 20px;
    button {
        margin-bottom: 15px;
    }
    fa-icon {
        margin-right: 15px;
        font-size: 28px;
    }
    #facebook-button {
        @include login-button;
        background-color: #3b5998;
        padding-left: 5px;
    }
    #github-button {
        @include login-button;
        background-color: #333333;
        padding-left: 5px;
    }
    #google-button {
        @include login-button;
        background-color: #4285F4;
        padding-left: 1px;
        img {
            margin-right: 10px;
            width: 14%;
        }
    }
}

