<div mat-dialog-title class="mat-h2-primary">Geography</div>

<div mat-dialog-content>
    <div class="mat-body">
        Groups are useful to organize multiple devices.  You can reuse device names if they are in different groups.
    </div>
    <mat-radio-group fxLayout="column" [(ngModel)]="data">
        <ng-container *ngFor="let geo of deviceGeographies">
            <!-- Radio buttons for user-defined groups -->
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-radio-button [value]="geo.name">
                    <mat-form-field [floatLabel]="'never'">
                        <input matInput value="{{geo.name}}">
                    </mat-form-field>
                </mat-radio-button>
                <button mat-icon-button [disableRipple]="true">
                    <fa-icon class="danger-icon" [icon]="deleteIcon"></fa-icon>
                </button>
            </div>

        </ng-container>

        <!-- Radio button to add a new user-defined group -->
        <mat-radio-button>
            <mat-form-field [floatLabel]="'never'">
                <input matInput placeholder="Add Geographic Location">
            </mat-form-field>
        </mat-radio-button>
    </mat-radio-group>
</div>

<div mat-dialog-actions align="end">
    <button mat-button (click)="onCancelClick()">CANCEL</button>
    <button mat-button [mat-dialog-close]="data" class="action-button">SAVE</button>
</div>
