<mat-card>
    <mat-toolbar class="form-title">PERSONAL</mat-toolbar>
    <form>
        <div fxLayout="row wrap">
            <div id="user-name" fxFlex fxLayout="column" fxLayoutAlign="center">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input
                        id="firstName2"
                        matInput
                        name="lastName"
                        placeholder="Enter First Name"
                        type="text"
                    >
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input
                        id="lastName2"
                        matInput
                        name="lastName"
                        placeholder="Enter Last Name"
                        type="text"
                    >
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-card>
