#antisocial-login {
    margin: 16px;

    mat-form-field {
        max-width: 350px;
    }

}

#social-login {
    margin: 16px;

    .mat-subheading-2 {
        font-weight: bold;
        margin: 0;
    }

    #social-platform {
        margin: 8px;

        fa-icon {
            font-size: 30px;
            margin-right: 10px;
        }

        img {
            height: 30px;
            margin-right: 10px;
            width: 30px;
        }

        mat-label {
            color: rgba(0, 0, 0, 0.6);
            width: 100px;
        }
    }
}



