@import '../../../stylesheets/global';

.back-button {
    color: $mycroft-dark-grey;
}
.skill-detail {
    max-width: 1000px;
    margin: 0 auto;
    .skill-detail-header {
        background-color: $mycroft-blue-grey;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 20px;
        .skill-detail-header-left {
            color: $mycroft-secondary;
            min-width: 330px;
            margin-right: 20px;
            h1 {
                font-family: 'Roboto Mono', monospace;
                margin: 0;
            }
        }
        .skill-detail-header-right {
            margin-right: 20px;
            button {
                @include action-button;
                width: 160px;
            }
            .github-button {
                background-color: $mycroft-blue-grey;
                color: $mycroft-dark-grey;
                fa-icon {
                    padding-right: 5px;
                }
            }
        }
    }
    .skill-detail-body {
        background-color: $mycroft-white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 20px;
        .mat-subheading-1 {
            color: $mycroft-dark-grey;
            margin-bottom: 10px;
        }
        .mat-body-1 {
            margin-bottom: 20px;
        }
        .skill-detail-body-left {
            min-width: 330px;
            margin-right: 20px;
            button {
                @include skill-trigger-button;
                @include ellipsis-overflow;
                max-width: 330px;
            }
        }
        .skill-detail-body-right {
            margin-right: 20px;
            white-space: nowrap;
            img {
                padding-right: 10px;
            }
        }
    }
}