@import '../../../stylesheets/global';

@mixin skill-detail-size {
    margin: 0 auto;
    max-width: 1000px;
}

.navigate-back {
    @include skill-detail-size;
    color: $mycroft-dark-grey;
    padding-bottom: 10px;
}

.skill-detail {
    @include skill-detail-size;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    .skill-detail-header {
        background-color: #f7f9fa;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-bottom: 2vh;
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 3vh;
        .skill-detail-header-left {
            color: $mycroft-secondary;
            margin-right: 50px;
            min-width: 340px;
            fa {
                font-size: 70px;
                margin-right: 20px;
            }
            img {
                margin-right: 20px;
            }
            h1 {
                font-family: 'Roboto Mono', monospace;
                margin-bottom: 10px;
                margin-top: 0;
            }
        }
        .skill-detail-header-right {
            margin-right: 20px;
            .install-button {
                @include action-button;
                width: 140px;
            }
            .install-button:hover {
                background-color: #fd8e4c;
                color: #2c3e50;
            }

            .github-button {
                color: $mycroft-dark-grey;
                font-weight: normal;
                width: 135px;
                fa-icon {
                    padding-right: 5px;
                }
            }
        }
    }
    .skill-detail-body {
        background-color: $mycroft-white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-bottom: 50px;
        padding-bottom: 2vh;
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 2vh;
        .mat-subheading-1 {
            color: $mycroft-dark-grey;
            font-variant: small-caps;
            font-weight: 500;
            margin-bottom: 5px;
        }
        .mat-body-1 {
            color: $mycroft-secondary;
        }
        .kde-icon {
            height: 40px;
            width: 40px;
        }
        .skill-detail-section {
            margin-bottom: 30px;
        }
        .skill-detail-body-left {
            min-width: 340px;
            margin-right: 50px;
            .skill-trigger {
                @include skill-trigger;
                @include ellipsis-overflow;
                margin-right: 10px;
                margin-bottom: 10px;
                max-width: 340px;
            }
        }
        .skill-detail-body-right {
            margin-right: 20px;
            white-space: nowrap;
            img {
                padding-right: 10px;
            }
        }
    }
}