<div fxLayout="row" fxLayoutAlign="center">
    <div class="skill-detail" *ngIf="skill$ | async as skill">

        <!-- Header block -->
        <div class="skill-detail-header" fxLayout="row">
            <div class="skill-detail-header-left">
                <h1>
                    <fa-icon [icon]="skillIcon"></fa-icon>
                    {{skill.title}}
                </h1>
                <div class="mat-subheading-1">{{skill.summary}}</div>
            </div>
            <div class="skill-detail-header-right">
                <button mat-button>INSTALL</button>
                <button
                    mat-flat-button
                    class="github-button"
                    (click)="navigateToGithubRepo(skill.repository_url)"
                >
                    <fa-icon [icon]="githubIcon"></fa-icon>
                    GitHub Repository
                </button>
            </div>
        </div>

        <!-- Detail block -->
        <div class="skill-detail-body" fxLayout="row">
            <div class="skill-detail-body-left">
                <div class="skill-detail-section">
                    <div class="mat-subheading-1">HEY MYCROFT</div>
                    <button mat-flat-button [disabled]="true" *ngFor="let trigger of skill.triggers">
                        <fa-icon [icon]="triggerIcon"></fa-icon>
                        {{trigger}}
                    </button>
                </div>
                <div class="skill-detail-section">
                    <div class="mat-subheading-1">DESCRIPTION</div>
                    <div class="mat-body-1">{{skill.description}}</div>
                </div>
                <div class="skill-detail-section">
                    <div class="mat-subheading-1">AUTHOR(S)</div>
                    <div class="mat-body-1">{{skill.author}}</div>
                </div>
            </div>
            <div class="skill-detail-body-right">
                <div class="skill-detail-section">
                    <div class="mat-subheading-1">SUPPORTED DEVICES</div>
                    <div class="mat-body-1" fxLayoutAlign="none center">
                        <img src="../../../assets/mark-1-icon.svg">
                        Mark I
                    </div>
                    <div class="mat-body-1" fxLayoutAlign="none center">
                        <img src="../../../assets/mark-2-icon.svg">
                        Mark II
                    </div>
                    <div class="mat-body-1" fxLayoutAlign="none center">
                        <img src="../../../assets/picroft-icon.svg">
                        Picroft
                    </div>
                </div>
                <div class="skill-detail-section">
                    <div class="mat-subheading-1">SUPPORTED LANGUAGES</div>
                    <div class="mat-body-1">English</div>
                </div>
                <div class="skill-detail-section">
                    <div class="mat-subheading-1">CATEGORY</div>
                    <div class="mat-body-1">{{skill.category}}</div>
                </div>
            </div>
        </div>

    </div>
</div>