<div mat-dialog-title class="mat-h2-primary">Placement</div>

<div id="placement-dialog-content" mat-dialog-content>
    <div class="mat-body">
        You can optionally indicate where a device is placed within a location.  Field is informational only.
    </div>
    <mat-radio-group fxLayout="column" [(ngModel)]="data">
        <ng-container *ngFor="let placement of devicePlacements">

            <!-- Radio buttons for pre-defined placements -->
            <mat-radio-button *ngIf="!placement.userDefined" class="predefined-group" [value]="placement.name">
                {{placement.name}}
            </mat-radio-button>

            <!-- Radio buttons for user-defined placements -->
            <div *ngIf="placement.userDefined" fxLayout="row" fxLayoutAlign="space-between center">
                <mat-radio-button [value]="placement.name">
                    <mat-form-field [floatLabel]="'never'">
                        <input matInput class="user-defined-group" value="{{placement.name}}">
                    </mat-form-field>
                </mat-radio-button>
                <button mat-icon-button [disableRipple]="true">
                    <fa-icon class="danger-icon" [icon]="deleteIcon"></fa-icon>
                </button>
            </div>

        </ng-container>

        <!-- Radio button to add a new user-defined group -->
        <mat-radio-button>
            <mat-form-field [floatLabel]="'never'">
                <input matInput placeholder="Add Custom Placement">
            </mat-form-field>
        </mat-radio-button>
    </mat-radio-group>
</div>

<div mat-dialog-actions align="end">
    <button mat-button (click)="onCancelClick()">CANCEL</button>
    <button mat-button [mat-dialog-close]="data" class="action-button">SAVE</button>
</div>
