.predefined-group {
    margin-bottom: 12px;
    margin-top: 12px;
}

.user-defined-group {
    width: 150px;
}

fa-icon {
    margin-left: 16px;
}

.form-actions {
    margin-top: 16px;

    button {
        margin-left: 8px;
    }
}
