@import '../../stylesheets/global';

mat-toolbar {
    background-color: $mycroft-primary;
    color: $mycroft-white;
    img {
        height: 20px;
        margin-top: -7px;
    }
    .separator {
        font-size: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .mat-subheading-1 {
        margin-bottom: 0;
    }
    fa-icon {
        padding-right: 5px;
    }
    .menu-button {
        fa-icon {
            padding-left: 5px;
        }
    }
}
