<mat-toolbar>
    <img src="../../assets/header-logo.svg">
    <fa-icon class='separator' [icon]="separatorIcon"></fa-icon>
    <div class="mat-subheading-1" style="margin-bottom: 0">MARKETPLACE</div>

    <div fxFlex fxLayout="row" fxLayoutAlign="end center">
        <button mat-button (click)="login()" *ngIf="!isLoggedIn">
            <fa-icon [icon]="signInIcon"></fa-icon>
            LOG IN
        </button>
        <button mat-button class="menu-button" [matMenuTriggerFor]="menu" *ngIf="isLoggedIn">
            {{userMenuButtonText}}
            <fa-icon [icon]="menuButtonIcon"></fa-icon>
        </button>
        <mat-menu [overlapTrigger]="false" #menu="matMenu">
            <button mat-menu-item (click)="logout()">
                <fa-icon [icon]="signOutIcon"></fa-icon>
                Logout
            </button>
        </mat-menu>
    </div>
</mat-toolbar>