[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
mongoengine = "*"
pygithub = "*"
uwsgi = "*"

[dev-packages]
selene-util = {path = "./../../../shared"}

[requires]
python_version = "3.7"
