[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
flask = "*"
selene = {editable = true,path = "./../../shared"}
uwsgi = "*"

[dev-packages]
allure-behave = "*"
behave = "*"
black = "*"
pyhamcrest = "*"
pylint = "*"

[requires]
python_version = "3.9"
