[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
certifi = "*"
uwsgi = "*"

[dev-packages]
selene = {editable = true,path = "./../../shared"}
behave = "*"
pyhamcrest = "*"

[requires]
python_version = "3.7"
