@import '../../../stylesheets/global';

button {
    @include login-button;
}

form {
    background-color: $mycroft-white;
    padding: 20px;
    fa-icon {
        color: $mycroft-dark-grey;
        margin-right: 15px;
    }
    mat-form-field {
        width: 230px;
    }
    mat-checkbox {
        color: $mycroft-dark-grey;
    }
    .forgot-password {
        margin-left: 30px;
    }
    button {
        background-color: $mycroft-primary;
        margin-top: 30px;
        text-align: center;
    }
    button:hover {
        background-color: #fd8e4c;
        color: #2c3e50;
    }

}

.mat-body-2 {
    color: $mycroft-tertiary-red;
    padding: 15px;
}
