@import '~@angular/material/theming';
@import '~src/stylesheets/mycroft-colors';
@import '~src/stylesheets/components/buttons';

.predefined-group {
    margin-bottom: 12px;
    margin-top: 12px;
}

.mat-body{
    margin-bottom: 16px;
    width: 250px;
}

fa-icon {
    color: mat-color($mycroft-warn);
    margin-left: 16px;
}

.attribute-save-button {
    @include action-button-primary;
}
