@import 'mycroft-colors';
@import "components/buttons";

form {
    background-color: $mycroft-white;
    border-radius: 10px;
    padding: 20px;

    fa-icon {
        color: $mycroft-dark-grey;
        margin-right: 15px;
    }

    mat-checkbox {
        color: $mycroft-dark-grey;
    }
    #forgot-password {
        margin-left: 30px;
    }

    button {
        @include action-button;
        margin-top: 30px;
        text-align: center;

        &:hover {
            background-color: $mycroft-tertiary-green;
            color: $mycroft-secondary;
        }
    }

}

.mat-body-2 {
    color: red;
    padding: 15px;
}
