[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
facebook-sdk = "*"
pyjwt = "*"
pygithub = "*"
psycopg2-binary = "*"
passlib = "*"
schematics = "*"
redis = "*"
sendgrid = "*"
stripe = "*"
schedule = "*"

[dev-packages]
pyhamcrest = "*"

[requires]
python_version = "3.7"
