[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyjwt = "*"
pygithub = "*"
psycopg2-binary = "*"
passlib = "*"
pyhamcrest = "*"
validator-collection = "*"
schematics = "*"

[dev-packages]

[requires]
python_version = "3.7"
