@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import '~@angular/material/theming';
@import 'stylesheets/mycroft-colors';

$mycroft-typography: mat-typography-config(
    $font-family: '"Noto Sans", display'
);

// Be sure that you only ever include 'mat-core' mixin once!
// it should not be included for each theme.
@include mat-core($mycroft-typography);

// instead of creating a theme with mat-light-theme like a sane person,
// we will create our own theme-creating function that lets us apply our own
// foreground and background palettes.
@function mycroft-light-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $mycroft-light-theme-foreground,
    background: $mycroft-light-theme-background,
  );
}

// include the custom theme components into a theme object
$custom-theme: mycroft-light-theme(
    $mycroft-primary,
    $mycroft-accent,
    $mycroft-warn
);

@mixin mycroft-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    .section-card {
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
        min-width: 260px;

        .section-card-title-bar {
            background-color: mat-color($primary, 50);
            border-radius: 6px;
            margin-bottom: 20px;
            max-width: 1000px;
            min-width: 260px;

            .section-card-title {
                color: mat-color($primary, 500);
                text-align: center;
                font-size: 24px;
                font-weight: bold;
                width: 100%;
            }
        }
    }
}

// include the custom theme object into the angular material theme
@include angular-material-theme($custom-theme);
@include mycroft-theme($custom-theme);
