/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

// Be sure that you only ever include 'mat-core' mixin once!
// it should not be included for each theme.
@include mat-core();

// Mycroft palette defined using http://mcg.mbitson.com
$mycroft-color-primary: (
    50 : #e4f4fd,
    100 : #bde5fb,
    200 : #91d3f8,
    300 : #64c1f5,
    400 : #43b4f2,
    500 : #22a7f0,
    600 : #1e9fee,
    700 : #1996ec,
    800 : #148ce9,
    900 : #0c7ce5,
    A100 : #ffffff,
    A200 : #dcedff,
    A400 : #a9d2ff,
    A700 : #90c5ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mycroft-color-secondary: (
    50 : #e6e8ea,
    100 : #c0c5cb,
    200 : #969fa8,
    300 : #6b7885,
    400 : #4c5b6a,
    500 : #2c3e50,
    600 : #273849,
    700 : #213040,
    800 : #1b2837,
    900 : #101b27,
    A100 : #68abff,
    A200 : #358fff,
    A400 : #0272ff,
    A700 : #0067e7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


// mandatory stuff for theming
$mycroft-palette-primary: mat-palette($mycroft-color-primary);
$mycroft-palette-accent:  mat-palette($mycroft-color-secondary);

// include the custom theme components into a theme object
$mycroft-theme: mat-light-theme($mycroft-palette-primary, $mycroft-palette-accent);

// include the custom theme object into the angular material theme
@include angular-material-theme($mycroft-theme);

.mycroft-snackbar {
    width: 500px;
}
.mycroft-snackbar .mat-simple-snackbar-action {
    color: #22a7f0
}
