<div fxLayout="row wrap">
    <mat-card *ngFor="let skill of skills; let i = index" align="center">
        <div [routerLink]="['/skill', skill.id]">
            <market-skill-card-header [skill]="skills[i]"></market-skill-card-header>
            <mat-card-title>{{skill.title}}</mat-card-title>
            <mat-card-subtitle align="center">
                <button mat-flat-button [disabled]="true">
                    <fa-icon [icon]="voiceIcon"></fa-icon>
                    {{skill.triggers[0]}}
                </button>
            </mat-card-subtitle>
            <mat-card-content>
                {{skill.summary ? skill.summary : '&nbsp;'}}
            </mat-card-content>
        </div>
            <mat-card-actions>
            <button mat-button (click)="install_skill(skill)">INSTALL</button>
        </mat-card-actions>
    </mat-card>
</div>