@import '../../../stylesheets/global';

@mixin card-width {
    width: 320px;
}

mat-card {
    @include card-width;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px;
    padding: 15px;
    mat-card-title {
        @include ellipsis-overflow;
        color: $mycroft-secondary;
        font-family: 'Roboto Mono', monospace;
        font-weight: bold;
        text-align: center;
    }
    mat-card-subtitle {
        button {
            @include skill-trigger-button;
            @include ellipsis-overflow;
            @include card-width;
            margin: 0;
        }
    }
    mat-card-content {
        @include ellipsis-overflow;
        text-align: center;
    }
    mat-card-actions {
        margin-left: 0;
        margin-bottom: 0;
        button {
            @include action-button;
            @include card-width;
            margin-bottom: 15px;
        }
    }
}

mat-card:hover{
  box-shadow: -1px 10px 29px 0px;
}
