@import '../../../stylesheets/global';

@mixin card-width {
    width: 320px;
}

mat-card {
    @include card-width;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px;
    padding: 15px;
    mat-card-title {
        @include ellipsis-overflow;
        color: $mycroft-secondary;
        font-family: 'Roboto Mono', monospace;
        font-weight: bold;
        text-align: center;
    }
    mat-card-subtitle {
        .skill-trigger {
            @include skill-trigger;
        }
    }
    mat-card-content {
        @include ellipsis-overflow;
        text-align: center;
    }
    mat-card-actions {
        margin-left: 0;
        margin-bottom: 0;
        button {
            @include action-button;
            @include card-width;
            margin-bottom: 15px;
        }
        .installed-button {
            background-color: $mycroft-tertiary-green;
            fa-icon {
                padding-right: 10px;
            }
        }
        .install-button:hover {
            background-color: #fd8e4c;
            color: #2c3e50;
        }
    }
}

mat-card:hover{
  box-shadow: -1px 5px 15px 0px;
}
