{% extends "base.html" %}
{% block email_body %}
    <p style="margin-top: 16px;">
        A change to the email address associated with your Mycroft account has been requested.  If you did not make
        this request, please contact us immediately at support@mycroft.ai.  Otherwise, check the inbox for the new email
        address for verification instructions.  If you don't see the verification email in your inbox, please check your
        spam folder.

        Your account will not be updated until the new email address is verified.
    </p>
{% endblock email_body %}
