<div style="background-color: #e6e8ea; width: 100%; height:100%;">
    <img
            style="display: block; height: 60px; margin: auto; padding-top: 32px; color: white; font-family: Arial,sans-serif; font-size: 18px"
            src="https://mycroftai.imgus11.com/public//dd014aa691ea98bb0a4b194b19bb2a0e.png?r=537470560"
            alt="MYCROFT AI"
    />
    <div style="
            background-color: white;
            border-radius: 4px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.40);
            color: #2c3e50;
            font-family: Helvetica Neue,Helvetica,arial,sans-serif;
            height: 400px;
            margin: 16px auto;
            width: 480px;
        "
    >
        <div style="padding: 32px">
            <p>Greetings,</p>
            <p style="margin-top: 16px;">
                A password reset for account.mycroft.ai was requested for this email address.  If you did not make
                this request, you can ignore this message.
            </p>
            <p  style="margin-top: 16px;">To reset your password, click the button below.</p>
            <a
                    href="{reset_password_url}"
                    style="
                        background-color: #22a7f0;
                        border-radius: 10px;
                        color: white;
                        display: table;
                        height: 32px;
                        margin-top: 32px;
                        text-decoration: none;
                        width: 220px;
                    "
            >
                <span style="margin: 16px auto; display: table; text-align: center; width: 200px">RESET PASSWORD</span>
            </a>
            <p style="margin-top: 32px;">
                Regards,
            </p>
            <p style="margin-top: 16px;">
                The Mycroft AI Team
            </p>
        </div>
    </div>
</div>
