{% extends "base.html" %}
{% block email_body %}
    <p style="margin-top: 16px;">
        A password reset was requested for the Mycroft account associated with this email address.  If you did
        not make this request, you can ignore this message.
    </p>
    <p  style="margin-top: 16px;">To reset your password, click the button below.</p>
    <a
            href="{reset_password_url}"
            style="
                background-color: #22a7f0;
                border-radius: 12px;
                color: white;
                display: table;
                height: 32px;
                margin-top: 32px;
                text-decoration: none;
                width: 220px;
            "
    >
        <span style="margin: 16px auto; display: table; text-align: center; width: 200px">RESET PASSWORD</span>
    </a>
{% endblock email_body %}
