[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "<1.1"
uwsgi = "*"
schematics = "*"
stripe = "*"
selene = {editable = true,path = "./../../shared"}

[dev-packages]
behave = "*"
pyhamcrest = "*"
allure-behave = "*"

[requires]
python_version = "3.7"
