[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
requests = "*"
certifi = "*"
uwsgi = "*"
markdown = "*"

[dev-packages]
selene-util = {path = "./../../../../shared"}

[requires]
python_version = "3.7"
